<!DOCTYPE html>
<html ng-app="game">

<head>
    <title>Shabdakosha</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <script src="js/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body ngCloak>





    <div>
        <img src="images/bg.jpg" class="background">
    </div>

    <div class="btn-group-vertical button-holder" role="group" ng-hide="gocats">
        <button type="button" class="btn btn-default button" ng-click="gocats=!gocats">
            <img src="images/button_play_hot.png" class="button-image">
        </button>

        <button type="button" class="btn btn-default button">
            <img src="images/button_challenge_hot.png" class="button-image">
        </button>

        <button type="button" class="btn btn-default button">
            <img src="images/button_scores.png" class="button-image">
        </button>
    </div>




    <form class="form-container" ng-controller="formCtrl as fc" ng-submit="submit()" ng-show="gocats">

        <div class="form-group" ng-hide="cat1">
            <label>What is your native language?</label>
            <input type="text" class="form-control" placeholder="enter language" ng-model="item.lang">
            <div class="form-group first-form">
                <input type="submit" class="form-control" ng-click="cat1=!cat1">
            </div>

        </div>

        <div class="form-group" ng-show="cat1">

            <strong class="main-title-form2">What is the meaning/synonym of the word in your language?</strong>


            <p>
                <label class="words">{{words[x]}}</label>
            </p>
            <img ng-src="{{image[x]}}"></img>

            <p class="translation-text">Your Translation is : {{input}}</p>

            <p>
                <label>Translate The Word</label>
                <input type="text" class="form-control" placeholder="enter translation" ng-model="input">
            </p>


            <small>Your selected native language is : {{item.lang}}</small>

            <div class="form-group unknown-form">
                <input type="submit" class="form-control">
            </div>



        </div>


    </form>

    <div id="right_box" class="right-box" ng-show="gocats" ng-controller="tableCtrl as tc">
        <h3 class="contribute">  YOUR CONTRIBUTION</h3>


        <h5>Number of Translations: 
<label>{{c}}</label></h5>
        <h5>Votes : 5</h5>
        <div class="awards">YOUR AWARDS</div>
        <div class="leader-board">
            <h4>Weekly Leaderbord</h4>
            <p>Rank 1: RohitFOSS</p>
            <p>Rank 2: Sujan</p>
            <p>Rank 3: jaggu9945</p>
            <p>Rank 4: sheldon@ftps</p>
            <p>Rank 5: living_ninja</p>
            <p>Rank 6: sanad</p>
            <p>Rank 7: brucelee</p>

        </div>

    </div>




    <script src="js/app.js"></script>

</body>

</html>